.button {
    gap: 8px;
    border-radius: 12px;
    padding: 16px 32px;
    border: 2px solid rgba(123, 110, 246, 1);
    background-color: rgba(123, 110, 246, 1);
    display: inline-flex;
    line-height: 24px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}